{% extends "base.html" %} 
{% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  
  {% for note in notes %}
  <li class="list-group-item">
  <div class="card">
    <div class="card-body">
        <span class="badge badge-default">{{ note.date }}
          
        </span>
        <button style="float: right" type="button" class="close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
        <hr>
        <pre>{{ note.data |safe }}</pre>
    </div>
  </div>
  </li>
<!--
  <li class="list-group-item">
    {{note.date}} 
    <br>
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
    
  </li>-->
  
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="left">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}
